@import "tailwindcss";

:root {
  --font-Fira_Code: "Fira Code", monospace;
}

@theme {
  --color-purple: #c778dd;
  --color-black: #000;
  --color-white: #fff;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Global base styles */

body {
  font-family: var(--font-Fira_Code), monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @media (max-width: 639px) {
    .container {
      padding: 0 1rem; /* or whatever value you want */
    }
  }
}
